/*
* 我只是先設定格式 顏色之後再調 

*/

/* sun_icon: https://image.flaticon.com/icons/png/512/2580/2580627.png */

.main {
  width: 100vw; /*vw,vh自動符合畫面的大小*/
  height: 100vh; /* 100 = 100% */
  flex-direction: column;
}

.hidden {
  position: -999999px;
  display: none;
}
#ContentPanel {
  width: 100%;
  height: 100%;
}
.bgIMG {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: grayscale(0.25);
  z-index: -25;
}

#CityDetail {
  position: relative;
  left: 10%;
  top: 20%;
}

.title {
  position: relative;
  top: 20%;
  left: 1%;
  font-size: 190%;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 500;
}
#bannerBar {
  width: 100%; /* 定義後就可以直接用% */
  height: 100px;
  background-color: rgba(255, 255, 255, 0.637);
  line-height: 100px; /* 由上往下100px */
  position: fixed;
  z-index: 10000;
}
/*====SearchBoxArea===*/
#City {
  font-size: 500%;
  line-height: 140%;
}

#CityList {
  text-indent: -1%;
  position: absolute;
  background-color: #f6f6f6;
  z-index: 150;
  height: auto;
  width: 15%;
}
#CityList li {
  line-height: 190%;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  right: 5%;
}
#CityList li:hover {
  background-color: #c2c2c2;
}

#searchboxArea {
  position: relative;
  right: -75%;
  bottom: 45%;
  z-index: 25;
}
#SearchBox {
  font-weight: 400;
  line-height: 2;
  border-radius: 0.35rem;
  border: 1px solid transparent;
  height: 30%;
  padding: 0.375rem 0.75rem;
  background-color: #e4e4e4;
  display: inline-block;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 1.25rem;
}

#searchboxArea button {
  height: 30px;
  background-color: aliceblue;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;

  border-radius: 0.25rem;
}
#searchboxArea button:hover {
  background-color: rgb(222, 234, 245);
}
#searchboxArea button:active {
  background-color: rgb(187, 205, 223);
}

/*=======================================================*/

.card-content {
  width: 100vw;
  display: flex;
  justify-content: flex-start; /*可更改*/
  line-height: 200%;
}

.card {
  width: 150px;
  height: 180px;
  display: flex;
  text-align: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.479);
  margin: 5;
  border-radius: 0.5rem;
}

.card-title {
  width: 150px;
  height: 110px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  line-height: 100%;
  top: 10%;
}

#tempatureValue,
#rainingValue,
#selfFeelingStatus {
  width: 150px;
  height: 90;
  color: rgb(19, 20, 20);
  position: relative;
  line-height: 100%;
  top: 10%;
  align-items: center;
}
.card svg {
  position: relative;
  line-height: 100%;
  top: 10%;
}
.card img {
  position: relative;
  line-height: 100%;
  top: 10%;
  height: 50%;
}

/*=======================================================*/
.buttonArea {
  position: fixed;
  bottom: 10px;
  left: 45%;
  display: flex;
}
.roundbutton {
  background-color: rgba(44, 44, 44, 0.747);
  border-color: rgba(44, 44, 44, 0.747);
  font-size: 0;
  border-radius: 1.25rem;
  box-shadow: none;
  width: 80px;
  height: 10px;
  border-color: none;
}
.roundbutton:hover {
}
.AUTHOR {
  display: flex;
  position: relative;
  bottom: -50%;
  right: -45%;
  font-size: 12px;
  color: rgb(139, 139, 139);
}

/*========================================================*/
.temperature_content {
  height: 700px;
  background-color: antiquewhite;
  align-items: center;
}

.temperature_title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
#temperature_pic {
  text-align: center;
}

#temperature_chart {
  width: 1000px;
  background-color: rgb(199, 232, 245);
}

/*======================================================*/

.detailed_information {
  width: 100%;
  height:600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#other{
  width: 300px;
  height: 280px;
  font-size: 25px;
  background-color: #c2c2c2;
}
#other_title{
  font-weight: bold;
}
#wind{
  width: 300px;
  height: 280px;
  font-size: 25px;
  background-color: #daf8e1;
}
#wind_title{
  font-weight: bold;
}
#sun{
  width: 300px;
  height: 500px;
  font-size: 25px;
  background-color: #faf5cb;
}
#sun_title{
  font-weight: bold;
}

