/*
* 我只是先設定格式 顏色之後再調 

*/

/* sun_icon: https://image.flaticon.com/icons/png/512/2580/2580627.png */

.main {
  width: 100vw; /*vw,vh自動符合畫面的大小*/
  height: 100vh; /* 100 = 100% */
}

.hidden {
  position: -999999px;
  display: none;
}

.bgIMG {
  top: -10%;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: grayscale(0.25);
  z-index: -25;
}

#ContentPanel {
  position: relative;
  left: 10%;
  top: 20%;
}
.title {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
}
#bannerBar {
  width: 100%; /* 定義後就可以直接用% */
  height: 100px;
  background-color: rgba(255, 255, 255, 0.637);
  line-height: 100px; /* 由上往下100px */
  position: fixed;
}
/*====SearchBoxArea===*/

#CityList {
  text-indent: -1%;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 200px;
  border: 1px solid #ddd;
  z-index: 50;
  height: auto;
}
#CityList li {
  line-height: 190%;
  list-style-type: none;
}

#searchboxArea {
  position: relative;
  right: -85%;
  bottom: 100%;
  z-index: 25;
}
#SearchBox {
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.35rem;
  border: 1px solid transparent;
  height: 30px;
  padding: 0.375rem 0.75rem;

  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

#searchboxArea button {
  height: 30px;
  background-color: aliceblue;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
#searchboxArea button:hover {
  background-color: rgb(222, 234, 245);
}
#searchboxArea button:active {
  background-color: rgb(187, 205, 223);
}

/*=======================================================*/

.content {
  display: flex;
  justify-content: flex-start; /*可更改*/
}

.card {
  width: 150px;
  height: 180px;
  display: flex;
  text-align: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.479);
  margin: 5;
}

.card-title {
  width: 150px;
  height: 90px;
}

#tempatureValue,
#rainingValue {
  width: 150px;
  height: 90;
  color: rgb(37, 37, 37);
}

/*=======================================================*/
.buttonArea {
  position: fixed;
  bottom: 10px;
  left: 45%;
  display: flex;
}
.roundbutton {
  background-color: rgba(44, 44, 44, 0.151);
  border-color: rgba(141, 141, 141, 0.151);
  font-size: 0;
  border-radius: 1.25rem;
  box-shadow: none;
  width: 80px;
  height: 10px;
  border-color: none;
}
.roundbutton:hover {
}
.AUTHOR {
  display: flex;
  position: relative;
  bottom: -50%;
  right: -45%;
  font-size: 12px;
  color: rgb(139, 139, 139);
}
